<!-- Hero Section -->
<section class="hero">
  <!-- Video Background -->
  <video autoplay muted loop class="hero-video">
    <source src="/static/videos/MuseumGallery.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <!-- Hero Content -->
  <div class="hero-content">
    <!-- Text and Button at Bottom Left -->
    <div class="hero-bottom-left">
      <h1>
        Welcome to The<br /><span class="museum-name">National Heritage Museum</span>
      </h1>
      <p>
        Experience cultures across the globe, from the dawn of human history to
        the present.
      </p>
      <a href="/visit" class="btn btn-visit">
        Plan your visit <i class="fas fa-arrow-right"></i>
      </a>
    </div>
  </div>
</section>